body {
    font-family: Arial, sans-serif;
    height: 100vh;
    /* background-color: #0f0f0f; */
    margin: 0;
    padding: 0;
}

.fle {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.product-card {
    border: 1px solid #e0e0e0;
    padding: 16px;
    width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    margin: 20px;
}

.product-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 12px;
}

.product-name {
    font-size: 18px;
    margin-bottom: 8px;
    color: #333;
}

.product-price {
    font-size: 16px;
    color: #333;
    margin-bottom: 16px;
}

.add-to-cart-button {
    background-color: #007bff;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-to-cart-button:hover {
    background-color: #0056b3;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .product-card {
        width: 100%;
        margin: 10px 0;
    }
}
